<%- include("adminHeader.ejs") %>
<h2>Welcome to the PoyoWeb Administrator Portal</h2>
<% if (typeof user !== 'undefined' && user) { %>
  <p>Welcome, <%= user.username %>!</p>
  <ul>
    <% users.forEach(function(item, index) { %>
      <li>
        <% Object.entries(item).forEach(function([key, value]) { %>
          <strong><%= key %>:</strong> <%= value %><br>
        <% }); %>
        <form method="POST" action="/user/deleteUser">
        	<input type="hidden" name="token" value="<%= item.token %>">
        	<input type="submit" value="Delete user <%- item.username %>">
        </form>
      </li>
    <% }); %>
  </ul>
  
<% } else { %>
  <p>Welcome, guest!</p>
  <a href="/auth/login">Login</a>
<% } %>
</h2> 
<%- include("adminFooter.ejs") %>
