<%- include("header") %>
<link rel="stylesheet" href="/css/dashboard.css" />
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
  integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/basic.min.css"
  integrity="sha512-MeagJSJBgWB9n+Sggsr/vKMRFJWs+OUphiDV7TJiYu+TNQD9RtVJaPDYP8hA/PAjwRnkdvU+NsTncYTKlltgiw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script>
  function rename(cleanPath) {
    var newName = prompt("Enter new name");
    if (newName) {
      var apiKey = "<%- jwt %>";
      var xhr = new XMLHttpRequest();
      xhr.open("POST", `/dashboard/renameFileByPath`, true);
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          window.location.reload();
        }
      };
      xhr.send(
        JSON.stringify({
          cleanPath: cleanPath,
          newName: newName,
          apiKey: apiKey,
        })
      );
      window.location.reload();
    } else {
      alert("Invalid name, aborting.");
    }
  }
</script>
<div class='row-container fill-width' style='width: 100%'>
    <div class='fill-width'>
        <div class='box'>
            <div class='box-title'>
                <h2>Create a new directory</h2>
            </div>
            <div class='box-content'>
                <form action="/dashboard/createDir" method="POST">
                  <input type="hidden" name="dir" value="<%- dir || '' %>" />
                  <input type="text" name="dirName" placeholder="Directory name" />
                  <input type="submit" value="Create" />
                </form>
            </div>
        </div>

        <div class='box'>
            <div class='box-title'>
                <h2>Upload File</h2>
            </div>
            <div class='box-content'>
                <form action="/dashboard/upload" class="dropzone" method="POST"></form>
            </div>
        </div>
    </div>
    <div class='box fill-width'>
        <div class='box-title'>
            <h2>File List</h2>
        </div>
        <div class='box-content'>
            <% if (!isRoot) { %>
            	<a href="/dashboard?dir=<%- pastDir %>">
              		<button>Go Back</button>
            	</a>
            <% } %>
            <ul class="dashboard-container">
              <% for (let key in files.files) { %>
              <li class="file-container">
                <span class="file"><%= files.files[key].name %></span>
                <a href="/dashboard/removeFileByPath?cleanPath=<%= files.files[key].cleanPath %>&dir=<%- dir || '' %>">
                  <button>Delete</button>
                </a>
                <% if (files.files[key].type == "file") { %>
                	<a onclick="rename('<%= files.files[key].cleanPath %>')">
                  		<button>Rename</button>
                	</a>
                	<% if (files.files[key].openable == true) { %>
                		<a href="/editor?file=<%= files.files[key].cleanPath %>"><button>Edit</button></a>
                	<% } %>
                <% } else {%>
                <a href="/dashboard?dir=<%- dir %>/<%- files.files[key].cleanPath %>">
                  <button>Travel</button>
                </a>
                <% } %>
              </li>
              <hr>
              <% } %>
            </ul>
            <% if (files.files && files.files.length < 1) { %>
            <p>No Files</p>
            <% } %>
        </div>
    </div>
</div>
<script>
  Dropzone.autoDiscover = false;
  var myDropzone = new Dropzone(".dropzone", {
    paramName: "file",
    webkitRelativePath: true,
    maxFilesize: 419430400, // MB
    uploadMultiple: false,
    dictDefaultMessage: "Drag and drop files here or click to upload",
    init: function () {
      this.on("sending", function (file, xhr, formData) {
        var apiKey = "<%- jwt %>";
        var dir = "<%- dir || '' %>"
        formData.append("apiKey", apiKey);
        formData.append("dir", dir);
      });
      this.on("success", function (file, response) {
        console.log("File uploaded successfully");
      });
      this.on("error", function (file, response) {
        console.error("File upload error");
      });
      this.on("complete", function (file) {
        if (
          this.getUploadingFiles().length === 0 &&
          this.getQueuedFiles().length === 0
        ) {
          window.location.reload();
        }
      });
    },
  });
</script>
<%- include("footer") %>
