<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb - <%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>
	<meta name="description" content="The silliest, open-source static web host! ">
    <meta name="keywords" content="silly, web host, web hosting, free hosting, free web hosting, indie, indie web, indie web hosting, neocities, nekoweb, hoster, personal, personal website hoster, website hosting, free, silliness, indie personal websites, forgotten">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="10 days">
    <meta name="author" content="Poyo!">
</head>
<body>
	<style>
	   	* {
	     	font-family: 'Noto Serif';
	    }
	</style>
    
	<div class="megacontainer">
	  <header class="container header-container">
		<div class="space-between row-container">
			<div class="left">
				<h1>PoyoWeb - <%- title %></h1>
			</div>
			<div class="right">
				<% if (typeof user !== 'undefined' && user) { %>
					<p>Welcome, <strong><%= user.username %></strong>.</p>
					<a href="/auth/logout">Logout</a>
				<% } else { %>
					<p>Please identify yourself, <strong>Guest</strong>.</p>
					<a href="/auth/login">Login/Register</a>
				<% } %>
			</div>
		</div>
		<% if (typeof message !== 'undefined' && message) { %>
			<div class="message-container" id="message-container">
				<%= message %>
			</div>
		<% } %>
	  </header>
	  <div class="row-container">
	  <div class="container link-container">
	  	<h2>Links</h2>
	    <a href="<%= url %>"><button>Home</button></a>
	    <% if (loggedIn) { %>
	    	<a href="/dashboard"><button>Dashboard</button></a>
	   		<a href="/settings"><button>Settings</button></a>
	    <% } %>
		<a href="/tutorials"><button>Tutorials</button></a>
	    <a href="https://github.com/mrdapoyo/poyoweb"><button>GitHub</button></a>
	    <a href="/credits"><button>Contributors</button></a>
	    <a href="/donate"><button>Donate</button></a>
        <a href="/browse"><button>Browse</button></a>
	 </div>
	<div class="container main-container">
