<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb - <%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>
</head>
<body>
	<style>
	   	* {
	     	font-family: 'Noto Serif';
	    }
	</style>
    
	<div class="megacontainer">
	  <header class="container header-container">
		<div class="space-between row-container">
			<div class="left">
				<h1>PoyoWeb - <%- title %></h1>
			</div>
			<div class="right">
				<% if (typeof user !== 'undefined' && user) { %>
					<p>Welcome, <strong><%= user.username %></strong>.</p>
					<a href="/auth/logout">Logout</a>
				<% } else { %>
					<p>Please identify yourself, <strong>Guest</strong>.</p>
					<a href="/auth/login">Login/Register</a>
				<% } %>
			</div>
		</div>
		<% if (typeof message !== 'undefined' && message) { %>
			<div class="message-container">
				<%- message %>
			</div>
		<% } %>
	  </header>
	  <div class="row-container">
	  <div class="container link-container">
	  	<h2>Links</h2>
	    <a href="<%= url %>"><button>Home</button></a>
	    <% if (loggedIn) { %>
	    	<a href="/dashboard"><button>Dashboard</button></a>
	    <% } %>
	 </div>
	<div class="container main-container">
