<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyoweb - <%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif' rel='stylesheet'>
</head>
<body>
	<style>
	   	* {
	     	font-family: 'Noto Serif';
	    }
	</style>
    
	<div class="megacontainer">
	  <header class="container header-container">
		<h1>PoyoWeb <%- title %></h1>
		<% if (typeof message !== 'undefined' && message) { %>
			<div class="message-container">
				<%- message %>
			</div>
		<% } %>
	  </header>
	  <div class="row-container">
	  <div class="container link-container">
	  	<h2>Links</h2>
	    <a href="<%= url %>">Home</a>
		<% if (loggedIn) { %>
			<a href="/dashboard">Dashboard</a>
			<a href="/auth/logout">Logout</a>
		<% } else { %>
			<a href="/auth/login">Log In</a>
		<% } %>
	 </div>
	<div class="container main-container">	 
		<h2><%= title %></h2> 
