<%- include('header.ejs') %> 
<% if (locals.loggedIn) { %>
<% } else { %>
<% } %>
<p><b><%- t("index.aboutus") %></b></p>
<p><%- t("index.aboutuscorpus") %></p>
<ul>
	<% const perks = t('index.perksList'); %>
  	<% perks.forEach(perk => { %>
    	<li><%= perk %></li>
  	<% }); %>
</ul>
<%- include('footer.ejs') %>
