<%- include("header.ejs") %>
<h2>Recover your password!</h2>
<p>Change password for <strong><%- name %></strong>, Choose wisely!</p>
<form method="POST" action="/auth/recover/<%- token %>">
    <input name="email" placeholder="Email" type="hidden" value="<%- email %>">
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Change password">
</form>
<%- include("footer.ejs") %>
