<%- include("header.ejs") %>
<h2>Settings</h2>
<a href="#customdomain" class="hidden-link"><h3 class="no-margin">Custom Domain</h3></a>
<p class="no-margin">Setup your very own domain! Don't worry, it's free of charge.</p>
<ol>
	<li>First, register your domain in any registrar of your choice</li>
	<li>Secondly, create and point your CNAME record(preferably using Cloudflare) to <code><%= dns %></code></li>
	<li>Then link your custom domain to the PoyoWeb using the input below</li>
	<li>And voilá! It's done. You might need to wait up to 40 hours for the DNS changes to globally propagate</li>
</ol>
<a href="#linkdomain" class="hidden-link"><h3 margin-bottom="0">Link Your Domain</h3></a>
<% if (user.verified) { %>
<form action="/settings/linkDomain" method="POST" class="row-container">
	<input type="hidden" name="jwt" value="<%= jwt %>">
	<input type="text" name="domain" value="<%= websiteData.domain %>" placeholder="yourdomain.com">
	<input type="submit">
</form>
<% } else { %>
	<p>Verify your email address to change your domain!</p>
<% } %>
<form action="/settings/resetDomain" method="POST" class="row-container">
	<input type="hidden" name="jwt" value="<%= jwt %>">
	<p>Reset your domain to the default PoyoWeb subdomain.</p>
	<input type="submit" value="Reset">
</form>
<script>
async function removeAccount(jwt, userId) {
  try {
    const response = await fetch('/settings/deleteUser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ userId, jwt }), // Replace with the expected payload
    });

    if (!response.ok) {
      throw new Error(`Error: ${response.status} - ${response.statusText}`);
    }

    const result = await response.json();
    console.log('User deleted successfully:', result);
    return location.reload();
  } catch (error) {
    console.error('Failed to delete user:', error);
    throw error;
  }
}
</script>
<a href="#removeaccount" class="hidden-link"><h3 class="no-margin">Remove account</h3></a>
<p class="no-margin">BEWARE! if you delete your account, all of your data will be gone, including your website. Please think very carefully about this before removing your account.</p>
<form action="/settings/deleteUser" method="POST">
<input type="hidden" value="<%= jwt %>" name="jwt"> 
<input type="submit" class="red-button" id="deleteAccount" style="background-color: red; color: white;" value="DELETE">
</form>
<%- include("footer.ejs") %>
