<%- include("header.ejs") %>
<h2>Settings</h2>
<a href="#customdomain" class="hidden-link"><h3 class="no-margin">Custom Domain</h3></a>
<p class="no-margin">Setup your very own domain! Don't worry, it's free of charge.</p>
<ol>
	<li>First, register your domain in any registrar of your choice</li>
	<li>Secondly, create and point your CNAME record to <code><%= dns %></code>(If you're using cloudflare, set an A record to <code><%= ip %></code>)</li>
	<li>Then link your custom domain to the PoyoWeb using the input below</li>
	<li>And voilá! It's done. You might need to wait up to 40 hours for the DNS changes to globally propagate</li>
</ol>
<a href="#linkdomain" class="hidden-link"><h3 margin-bottom="0">Link Your Domain</h3></a>
<form action="/settings/linkDomain" method="POST" class="row-container">
	<input type="hidden" name="jwt" value="<%= jwt %>">
	<input type="text" name="domain" value="<%= websiteData.domain %>" placeholder="yourdomain.com">
	<input type="submit">
</form>
<form action="/settings/resetDomain" method="POST" class="row-container">
	<input type="hidden" name="jwt" value="<%= jwt %>">
	<p>Reset your domain to the default PoyoWeb subdomain.</p>
	<input type="submit" value="Reset">
</form>
<%- include("footer.ejs") %>
